<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>706961397571-q8t8lafsuqk9r3uk3ocr7vqk1v9v9pl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706961397571-q8t8lafsuqk9r3uk3ocr7vqk1v9v9pl1</string>
	<key>API_KEY</key>
	<string>AIzaSyCD0A89uKZG9qbicU-p1rskA4Lj8wcyOoc</string>
	<key>GCM_SENDER_ID</key>
	<string>706961397571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ib.ios.swifferfirestore</string>
	<key>PROJECT_ID</key>
	<string>swiffer-ec9f5</string>
	<key>STORAGE_BUCKET</key>
	<string>swiffer-ec9f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706961397571:ios:b1ca4e7927e1ed44</string>
	<key>DATABASE_URL</key>
	<string>https://swiffer-ec9f5.firebaseio.com</string>
</dict>
</plist>